<div class="product-card position-relative bg-white h-100">
  <div class="img-box position-relative overflow-hidden">
    <img [src]="product.image" class="w-100 h-100 object-fit-cover main-img" alt="{{product.name}}">
    
    <button class="btn btn-dark w-100 position-absolute bottom-0 start-0 rounded-0 quick-add-btn">
      THÊM VÀO GIỎ
    </button>
  </div>

  <div class="info mt-3 text-center">
    <p class="text-secondary small mb-1 fw-bold">MLB KOREA</p>
    <h6 class="fw-bold text-truncate">{{ product.name }}</h6>
    <div class="d-flex justify-content-center gap-2">
      <span class="fw-bold fs-5">{{ product.price | number }} ₫</span>
    </div>
  </div>
</div>