.product-img {
  transition: transform 0.5s ease;
}

.img-wrapper:hover .product-img {
  transform: scale(1.1); /* Phóng to nhẹ khi rê chuột */
}

/* Ẩn nút Mua, hiện lên khi Hover */
.quick-view-btn {
  opacity: 0;
  transform: translateY(100%);
  transition: all 0.3s ease;
}

.img-wrapper:hover .quick-view-btn {
  opacity: 1;
  transform: translateY(0);
}

.product-item {
  cursor: pointer;
}