<div class="d-flex vh-100">
  <div class="sidebar bg-dark text-white p-3 d-flex flex-column">
    <h3 class="fw-bold mb-4 text-warning ps-2 border-bottom pb-3">ADMIN PANEL</h3>
    
    <ul class="nav flex-column gap-2">
      <li class="nav-item">
        <a routerLink="/admin/Category" routerLinkActive="active" class="nav-link text-white rounded">
          <i class="bi bi-folder me-2"></i> Quản lý Danh mục
        </a>
      </li>
      <li class="nav-item">
        <a routerLink="/admin/Product" routerLinkActive="active" class="nav-link text-white rounded">
          <i class="bi bi-box-seam me-2"></i> Quản lý Sản phẩm
        </a>
      </li>
      <li class="nav-item mt-auto border-top pt-3">
        <a routerLink="/" class="nav-link text-secondary">
          <i class="bi bi-arrow-left me-2"></i> Về trang bán hàng
        </a>
      </li>
    </ul>
  </div>

  <div class="main-content flex-grow-1 bg-light p-4">
    <div class="container-fluid">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>